@{
    ViewBag.title = "环球风情";
}
<div class="tabs">
       <ul>
        <li id="tab1"><a  href="@Url.Action("desktop", "home", null)"><span>桌 面 中 心</span></a> </li>
        <li id="tab2"> <a  href="@Url.Action("help", "home", null)"><span>帮助</span></a> </li>
      </ul> 
 </div>
    <div class="tabs-bd"></div>
