@{
    ViewBag.Title = "list2";
    ViewBag.tab = "tab1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tabs" id="tabs">
<ul>
   <li id="tab2" class="current"  type="2" ><a><span>推荐线路</span></a></li>
   <li id="tab3"  type="3" ><a><span>显示线路</span></a></li>
   <li id="tab4" type="4" ><a><span>隐藏线路</span></a></li>
</ul>
 </div>
 <div class="tabs-bd"></div>
<div id="table">
        <div class="mini-toolbar" style="border-bottom:0;padding:0px;">
             <span>分类:</span><input id="category" class="mini-combobox" style="width:150px;" textField="Name" valueField="Id" 
    value="" showNullItem="false" required="true" allowInput="false" url="../../category/list"/>  
                    <input id="name" class="mini-textbox" emptyText="请输入线路名查询" style="width:150px;" onenter="search()"/> 
                        <a class="mini-button"  iconCls="icon-search" onclick="search()">查询</a>            
        </div>
<div id="grid" class="mini-datagrid"  style="width:100%;height:450px; margin:0 auto;"  idField="id" pageSize="10"
    url="../lineapi/" type="2">

    <div property="columns">
        <div type="indexcolumn"></div>  
         <div field="Image" width="80" headerAlign="center" renderer="onImageRenderer">图片</div>                  
        <div field="Name" width="120" headerAlign="center">线路名称</div>  
        <div field="Adwords" width="120" headerAlign="center">副标题</div> 
        <div field="Category" width="40" headerAlign="center" >所属分类</div>   
        <div field="Day" width="20" headerAlign="center">天数</div> 
         <div field="action" headerAlign="center" width="100" allowSort="true"  renderer="onActionRenderer">操作</div>  
    </div>
</div>
</div>
<div id="info" style="margin:50px 0 0 350px;">
    <img   src="../../content/images/sorry.gif" />
    <h4>该分类下找不到线路</h4>
</div>
    <script type="text/javascript">
       
        mini.parse();
        var grid = mini.get("grid");
        grid.load({ state: $("#tabs li.current").attr("type") });
        grid.onLoad(function () {
            if (grid.totalCount > 0)
            {
                grid.show();
                $("#table").show();
                $("#info").hide();
            }
            else {
                grid.hide();
                $("#info").show();

            }
        });
        
        function lineOp(id, op) {
   
            $.post("../../line/op/" + id + "/" + op, {}, function (data) { alert(data); grid.load({ state: $("#tabs li.current").attr("type") }); });
            
        }

        function onActionRenderer(e) {
            var grid = e.sender;
            var record = e.record;
            var img = record.img;
            var s= '<a class="mini-button mini-grid-button"   onclick="edit(\'' + e.record.Id + '\')">编辑</a><a class="mini-button mini-grid-button"   onclick="lineOp(\'' + e.record.Id + '\',\'copy\')">复制</a><br/>';
            if (record.State == "reco") {
                s += '<a class="mini-button mini-grid-button"   onclick="lineOp(\'' + e.record.Id + '\',\'unre\')">取消推荐</a><a class="mini-button mini-grid-button"   onclick="lineOp(\'' + e.record.Id + '\',\'close\')">隐藏</a><br/>';
            }
            if (record.State == "show") {
                    s += '<a class="mini-button mini-grid-button"  onclick="lineOp(\'' + e.record.Id + '\',\'re\')">推荐</a>';
                    s += '<a class="mini-button mini-grid-button"   onclick="lineOp(\'' + e.record.Id + '\',\'close\')">隐藏</a>';
                }
            if(record.State=="close")
                {
                    s += '<a class="mini-button mini-grid-button"  onclick="lineOp(\'' + e.record.Id + '\',\'show\')">显示</a>'
                    s += '<a class="mini-button mini-grid-button"   onclick="lineOp(\'' + e.record.Id + '\',\'re\')">显示并推荐</a>'
                }
           
           
            return s;
            
           
        }
        function onImageRenderer(e) {
            var grid = e.sender;
            var record = e.record;
            var img = record.Image;
            var rowIndex = e.rowIndex;
            var s = '<img src="' + img + '">';
            return s;
        }

        $("#tabs li").click(function () {
            $("#tabs li").removeClass("current");
            $(this).addClass("current");
            grid.load({ state: $("#tabs li.current").attr("type") });
           
        });

        function edit(lineId) {
            document.location.href = "../../line/edit/" + lineId            ;
        }
        function search() {
            var name = mini.get("name").getValue();
            var category= mini.get("category").value;
            grid.load({ name: name, state: $("#tabs li.current").attr("type"), category:category });
            
        }
      </script>

