@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <h1>主页顶部广告设置 </h1>
    
 

   
      
 <div style="width:900px;">
        <div class="mini-toolbar" style="border-bottom:0;padding:0px;">
                        <a class="mini-button" iconCls="icon-add " onclick="add()">增加</a>
                        <a class="mini-button" iconCls="icon-edit" onclick="edit()">编辑</a>
                        <a class="mini-button" iconCls="icon-remove" onclick="remove()">删除</a>        
        </div>
    </div> 
<div id="searchGridPanel" class="mini-panel" title="header" iconCls="icon-add" style="width:800px;height:250px; position:absolute; z-index:888;" 
        showToolbar="true" showCloseButton="true" showHeader="false"  bodyStyle="padding:0" borderStyle="border:0" 
    >
          <div property="toolbar" style="padding:5px;padding-left:8px;text-align:center;">   
              <span>分类:</span><input id="combobox3" class="mini-combobox" style="width:150px;" textField="text" valueField="id" 
    url="../data/countrys.txt" value="cn" showNullItem="true" required="true" allowInput="false"/>        
            <span>线路名：</span>    
            <input id="keyText" class="mini-textbox" style="width:160px;" onenter="onSearchClick"/>
            <a class="mini-button"  iconCls="icon-search" onclick="onSearchClick">查询</a>
            <a class="mini-button"  iconCls="icon-close" onclick="onCloseClick">关闭</a>
            <a class="mini-button"  iconCls="icon-ok " onclick="onDoneClick">完成</a>
        </div>
          <div id="searchGrid" class="mini-datagrid" style="width:100%;height:100%;" 
            borderStyle="border:0" showPageSize="false" showPageIndex="false"  multiSelect="true"
            url="../../lineapi/?state=5" >
            <div property="columns">
                  <div type="checkcolumn" >#</div> 
                <div field="loginname" width="120" headerAlign="center" >图像</div>    
                <div field="name" width="120" headerAlign="center" >线路名</div>
                <div field="createtime" width="100" headerAlign="center" dateFormat="yyyy-MM-dd">创建日期</div>                
            </div>
        </div>  
      
       
    </div>
  <div id="postgrid" class="mini-datagrid" style="width:900px;height:500px;" 
            borderStyle="border:0" showPageSize="true" showPageIndex="true"
            url="../../lineapi/?state=2" >
            <div property="columns">
                <div type="indexcolumn" ></div>
                <div field="loginname" width="120" headerAlign="center" >图像</div>    
                <div field="name" width="120" headerAlign="center" >线路名</div>
                <div field="createtime" width="100" headerAlign="center" dateFormat="yyyy-MM-dd">创建日期</div>                
            </div>
        </div> 
    <script type="text/javascript">
        mini.parse();

        var postgrid = mini.get("postgrid");
        var gridPanel = mini.get("searchGridPanel");
        var searchGrid = mini.get("searchGrid");
        var keyText = mini.get("keyText");
        gridPanel.hide();
        postgrid.load();

        function onSearchClick(e) {
            grid.load({
                key: keyText.value
            });
        }
        function onCloseClick(e) {
        
            gridPanel.hide();
        }
        function add() {
           // mini.open({});

            searchGrid.load();
            gridPanel.show();
        }
        function onDoneClick() {
            var rows = searchGrid.getSelecteds();
            var s="";
            for (i = 0; i < rows.length; i++) {
                s += rows[i].name;
            }
            gridPanel.hide();
        }
    </script>


