body{font:12px/1.5 Tahoma,Helvetica,Arial,'宋体b8b\4f53',sans-serif; background:  url(images/noise.png);}
a{color: #000000;text-decoration: none;border:0;}
a:hover{ color: #f60; text-decoration:underline;}
img{  border-width:0px;}
ul li {padding:0;margin:0; text-decoration:none; list-style-type:none;}
/*form*/
form ul li{  padding:2px 0;}
.formRow{ clear:both; padding:5px 5px;}
.formRow .field-label{display:inline-block; width:80px;  text-align:right; float:left; color:#666666; font-weight:bold;}
.formRow .field-input{float:left;}
fieldset {  max-width:815px;  padding:20px 10px; border:1px solid  #AED2FF;}


/* common width*/
.w30{width:30px;}
.w80{width:80px;}
.w100{width:100px;}
.w120{width:120px;}
.w160{width:160px;}
.w450{width:450px;}
.red{color:Red;}
.bold{ font-weight:bold;}
#desList input{  display:none;}

/* 分页控件 */
.pages { color:red;font-weight:bold; font-size:11px;}
.pages  .item{padding: 1px 6px;font-size: 13px;} /*数字页索引样式*/
.pages a { text-decoration:none;padding: 0 5px; border: 1px solid #ddd;margin:0 2px; color:#000;font-weight:normal;}
.pages a:hover { background-color: #E61636; color:#fff;border:1px solid #E61636; text-decoration:none;font-weight:normal;}
.currentPageNumber{background:white; font-weight:bold; padding:0 3px;}
.pageNumber{}

/*多选*/
.multiple{float:left;margin:0;padding:0;}
.multiple_li{ cursor:pointer; display:block; text-align:center; height:80px;width:120px; padding:0; border:2px solid #ccc;  float:left; margin-right:5px; background-color:#fff; color:#000000; margin-top:5px; }
.multiple_c{cursor:pointer; display:block;  text-align:center; height:80px;width:120px; padding:0; border:2px solid #ff6600;  float:left; margin-right:5px; background-color:#fff; color:#000000; margin-top:5px; }
.multiple_s{cursor:pointer; display:block;  text-align:center; height:80px;width:120px; padding:0; border:2px solid #ff6600;  float:left; margin-right:5px; background-color:#fff; color:#000000;  }
.multiple_list{ border:2px solid #ff6600; position:absolute;margin-left:-3px; margin-top:-34px;width:expression(eval(document.body.scrollWidth)-38+"px"); }
.selectImg { position:relative; background-image:url("images/bg_s.gif");height:13px;width:13px;top:-13px;left:107px;  float:left; visibility:hidden;
}
.image_li{ cursor:pointer; display:block; text-align:center; height:100px;width:120px; padding:0; border:2px solid #ccc;  float:left; margin-right:5px; background-color:#fff; color:#000000;  }
.image_s{cursor:pointer; display:block;  text-align:center; height:100px;width:120px; padding:0; border:2px solid #ff6600;  float:left; margin-right:10px; margin-left:5px; background-color:#fff; color:#000000;  }


.table-style{ background:url("images/table_bg.png") no-repeat;width:790px;}
.table-style thead{ color:White; font-weight:bold; }
.table-style tbody tr{}
.op-td a{padding:4px 5px;}
.op-td a:hover{ background-color:#ff6600; color:White;}

.filter5{
  filter:alpha(opacity=50);
  opacity:0.5;
}
/*
input[type="text"],input[type="password"],textarea
{
    background: url("images/input.png") repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #D0D0D0;
    font-family: Verdana,Geneva,sans-serif,"宋体";
    margin: 0 5px 0 0;
    height:18px;
    padding: 3px 0 0px 5px; 
}
input:focus,textarea:focus
{
    background: url("images/admin_img/input_focus.png") repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #AECEE6;
    font-family: Verdana,Geneva,sans-serif,"宋体";
}*/
 .mini-grid-button {
  width:70px;
  margin:15px 0 10px 10px;
}
  


/*  头部 */

#header{background-color: white; height:120px;  font-size:14px; background-image: url('images/top_bg.png');}
#logo{width:200px;float:left;}
#header_right{float:right;}
 
 #header_right ul li{ margin-top: 5px;margin-right:20px;float: left;cursor: pointer;list-style-type: none;}
 #header_right ul li a{ margin-right: 3px;padding-left: 16px;background-image: url('images/top_icon.png');background-repeat: no-repeat;}
.top_icon_desktop{background-position: left top;}
.top_icon_message{ background-position: left center;}
.top_icon_refresh{ background-position: left center;}
.top_icon_user{ background-position: 0 top;} 
.top_icon_exit{ background-position: left bottom;} 
 /*  中间 */
 #mainwrap{margin-top:20px;  min-width:980px; padding:0 0 0 0; }
 #mainbody
{ 
    float:left;
    margin-left:180px;
   
 }
.left-memu{ float:left; width:150px; border: 1px solid #AED2FF; zoom: 1; position:fixed;}
.left-memu .title { display:block; background: url('images/left_menu.png') no-repeat; line-height:30px; height:30px; font-size:14px;background-position: left -1px; margin:0;padding: 0 0 0 5px;  cursor:pointer;}
.left-memu ul{  display:block; padding:0 0 0 5px; margin :0;}
.left-memu ul li{ display:block; line-height:28px; padding:0px; margin:0px; height:28px; overflow:hidden;}
.left-memu ul li a{ background:url(images/left_icon.png) no-repeat 5px 8px; padding-left:20px;display:block; line-height:22px;  vertical-align:middle; overflow:hidden;_float:left;zoom:1;outline:none;height:100%;  text-decoration:none;}
.left-memu ul li a.left-menu-right{float:right;padding-right:15px; overflow:visible; background:none;}
.left-memu ul li.on{  background: url('images/left_menu_bg.png'); background-repeat: no-repeat;  background-position: 3px -370px;  color:White;}
.left-menu-selected{ color:White; font-weight:bold;}

/* tabs */
.tabs
{   
    left: 20px;
    height: 27px;
    
}
.tabs-bd{ border-top: 1px solid #AED2FF; height:1px; min-width:900px;}
.tabs li,.tabs ul li a
{
    background-image: url('images/nav-bg.png');
}
.tabs ul li
{ 
float: left;
top: 4px;
margin-right: 5px;
padding-left: 5px;
text-align: center;
cursor: pointer;
height: 24px;
position: relative;
background-position: 0 0;
}
.tabs ul li a {
padding: 0 15px 0 10px;
display: inline-block;
height: 24px;
line-height: 24px;
color: #404040;
background-position: right top;
}
.tabs .current{
height: 27px;
top: 1px;
background-position: 0 -30px;
}
.tabs .current a{font-weight:bold;height:27px;line-height:27px;background-position:right -30px;}
.tabs .current a:hover{text-decoration:none;cursor:default;}




#footer
{
    clear:both;
    margin-top:50px;
    height: auto;
    width: 100%;
    font-family: 黑体;
    font-size: small;
    color: #666666;
    text-align: center;
}



